@font-face {
    font-family: 'Acme';
    src: url('../fonts/Acme-Regular.ttf');
  }
  @font-face {
    font-family: 'Ibm';
    src: url('../fonts/IBMPlexSansKR-Light.ttf');
  }
  @font-face {
    font-family: 'Mon';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'Robo';
    src: url('../fonts/RobotoSlab-Light.ttf');
  }
  @font-face {
    font-family: 'Sty';
    src: url('../fonts/Stylish-Regular.ttf');
  }

html{
    font-size: 3vw;
}
body{
    font-size: 0.7vw;
    /* height: 700vw; */
}

$hdr01 : #{'min(3.4em,34px)'};
$hdr02 : #{'min(2.5em,25px)'};
$hdr03 : #{'min(2rem,80px)'};
$nav01 : #{'min(2em,20px)'};
$mi01 : #{'min(7rem,280px)'};
$mi02 : #{'min(20rem,800px)'};
$mi03 : #{'min(6em,60px)'};
$cnt01 : #{'min(1.8em,18px)'};
$cnt02 : #{'min(11rem,440px)'};
$cnt03 : #{'min(7rem,280px)'};
$bnr01 : #{'min(3.5em,35px)'};
$bnr02 : #{'min(12rem,480px)'};

// 헤더
.hdrWrap{
    background: linear-gradient(90deg,#dcceb2 0% , #dbacaf 50%, #daa3ae 100%);
    header{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        line-height: $hdr03;
        padding: 40px 0px;
        font-weight: 700;
        justify-content: space-between;
        display: flex;
        h1{
            font-size: $hdr01;
            text-transform: uppercase;
            font-family: 'Acme';
        }
        nav{
            text-transform: capitalize;
            font-size: $hdr02;
            width: calc(100% / 12 * 5);
            justify-content: space-between;
            display: flex;
            font-family: 'Mon';
            h4{
            }
        }
    }
}

// 네비게이션 박스
.navBoxWrap{
    background-color: #ab727d;
    .navBox{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        padding: 80px 0px;
        ul{
            font-size: $nav01;
            text-align: center;
            border-right: 1px solid #000;
            padding: 0px 100px;
            font-family: 'Ibm';
                &:nth-last-child(1){
                    border-right: 0;
                }
            li{
                text-transform: capitalize;
                &:nth-child(1){
                    text-transform: uppercase;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

// 메인
.mainWrap{
    background: linear-gradient(90deg,#dcceb2 0% , #dbacaf 50%, #daa3ae 100%);
    main{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        padding: 160px 0px;
        padding-bottom: 460px;
        position: relative;
        .video01{
            video{
                width: calc(100% / 12 * 6);
                height: $mi01;
                background-color: gray;
                background-image: url('../image/seohyunmain/mainvideo/capture.PNG');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .image{
            width: calc(100% / 12 * 7);
            height: $mi02;
            background-color: green;
            float: right;
            margin-top: -400px;
            background-image: url('../image/seohyunmain/main/img01.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .texts{
            width: calc(100% / 12 * 10);
            position: absolute;
            margin-top: 80px;
            h2{
                font-size: $mi03;
                font-family: 'Sty';
            }
        }
    }
}

// 컨텐츠 공통
.cntWrap{
    .content{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        header{
            justify-content: space-between;
            display: flex;
            h2{
                font-size: $hdr02;
                text-transform: capitalize;
                margin: auto;
                margin-bottom: 80px;
                font-family: 'Mon';
            }
            .btn{
                width: calc(100% / 12 * 2);
                font-size: $cnt01;
                background-color: #fff;
                border: 1px solid #000;
                line-height: 20px;
                text-align: center;
                margin-top: 80px;
                text-transform: uppercase;
                font-family: 'Robo';
            }
        }
        section{
            margin-top: 40px;
        }
    }
}

// 컨텐츠1
.cntWrap{
    margin-top: 30px;
    .content.cnt01{
        header{
            h2{}
            .btn{}
        }
        section{
            justify-content: space-between;
            display: flex;
            article{
                width: calc(100% / 3 - 20px);
                .image{
                    background-color: gray;
                    height: $cnt02;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    &.image.i1{
                        background-image: url('../image/seohyunmain/content01/img1.jpg');
                    }
                    &.image.i2{
                        background-image: url('../image/seohyunmain/content01/img2.jpg');
                    }
                    &.image.i3{
                        background-image: url('../image/seohyunmain/content01/img3.jpg');
                    }
                }
                .texts{
                    font-size: $nav01;
                    padding: 40px 0px;
                    margin-top: -300px;
                    text-align: center;
                    background-color: #fff;
                    opacity: 80%;
                    text-transform: capitalize;
                    font-family: 'Ibm';
                    h5{}
                    h3{}
                    h4{}
                }
            }
        }
    }
}

// 컨텐츠2
.cntWrap{
    margin-top: 300px;
    .content.cnt02{
        header{
            h2{}
            .btn{}
        }
        section{
            article{
                width: 100%;
                .image{
                    height: $cnt03;
                    background-color: gray;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    &.image.i1{
                        background-image: url('../image/seohyunmain/content02/img01.jpeg');
                    }
                    &.image.i2{
                        background-image: url('../image/seohyunmain/content02/img02.jpg');
                    }
                    &.image.i3{
                        background-image: url('../image/seohyunmain/content02/img3.jpg');
                    }
                    &.image.i4{
                        background-image: url('../image/seohyunmain/content02/img4.jpg');
                    }
                }
                .text{
                    line-height: 80px;
                    opacity: 80%;
                    position: relative;
                    margin-top: 80px;
                    color: #fff;
                    font-family: 'Sty';
                    h3{
                        font-size: $nav01;
                        text-transform: capitalize;
                        position: absolute;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

// 배너
.bnrWrap{
    margin-top: 80px;
    .banner{
        text-align: center;
        padding: 80px 0px;
        height: $bnr02;
        background-color: gray;
        background-image: url('../image/seohyunmain/banner/bnr01.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h3{
            font-size: $bnr01;
            line-height: 80px;
            text-transform: capitalize;
            font-weight: 700;
            font-family: 'Mon';
        }
        h2{
            font-size: $nav01;
            font-family: 'Sty';
        }
        .btn{
            font-size: $cnt01;
            background-color: #fff;
            border: 1px solid #000;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            width: calc(100% / 12 * 2);
            margin: auto;
            margin-top: 80px;
            font-family: 'Robo';

        }
    }
}